.section-inputs-outputs{
    width: 90%;
    height: calc(100vh - 100px);
    margin: auto;
    display: flex;
    align-items: center;
}

@media (max-width: 1200px){
    .section-inputs-outputs{
        flex-direction: column;
        height: auto;
    }
}
