.section-inputs-outputs{
    width: 90%;
    height: calc(100vh - 100px);
    margin: auto;
    display: flex;
    align-items: center;
}

@media (max-width: 1200px){
    .section-inputs-outputs{
        flex-direction: column;
        width: 90%;
        height: auto;
        margin: auto;
    }
}

@media (max-width: 1200px){
    .section-inputs-outputs{
        flex-direction: column;
        width: 90%;
        min-width: 432px;
        height: auto;
    }
}

@media (max-width: 500px){
    .section-inputs-outputs{
        margin-left: 20px;
    }
}

